#team-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    overflow: -moz-scrollbars-none;
    padding: 10em;
    background-color: $dark-gray;
    @media screen and (max-width: 1200px) {
        padding: 7em;
    }
    @media screen and (max-width: 900px) {
        align-items: center;
        padding: 7em 3em;
    }
    @media screen and (max-width: 720px) {
        padding: 5em 3em 3em;
    }
}

#team-header {
    justify-content: center;
    height: 14em;
    padding: 2em 0 6em 0;
    width: 100%;
    @media screen and (max-width: 1100px) {
        padding: 2em 1em 6em 0;
    }
    @media screen and (max-width: 720px) {
        padding: 2em 3em 3em 0;
    }
    @media screen and (max-width: 400px) {
        padding: 2em 0 3em 0;
    }
}

.team-section {
    width: 100%; 
    justify-content: space-around;
    padding: 5em;
}

.team-member-column {
    flex-direction: row;
    width: 100%;
    @media screen and (max-width: 399px) {
        flex-direction: column;
    }
    @media screen and (min-width: 720px) {
        flex-direction: column;
        max-width: 13em;
    }
}

.team-member-container {
    width: 100%;
    margin-bottom: 10em;
    @media screen and (max-width: 1100px) {
        padding-left: 0;
    }
    @media screen and (max-width: 720px) {
        flex-direction: column !important;
        align-items: flex-start;
        max-width: 25em;
        margin-bottom: 5em;
    }
}

.team-pic-container {
    width: 12em;
    padding: 0 1em;
    justify-content: center;
}

.team-pic {
    height: 10em;
    width: 10em;
    border: 1px solid $dark-gray;
    justify-content: center;
    align-items: center;
}

.team-member-stats {
    * {
        line-height: 1.5em;
    }
    @media screen and (max-width: 720px) {
        padding-left: 2em;
    }
    @media screen and (max-width: 400px) {
        padding-left: 0;
    }
}

.team-member-name {
    font-weight: bolder;
    padding: 0.75em 0 0;
}

.stats-text-small {
    font-size: 0.7em;
}

.team-member-blurb {
    padding: 1em;
    max-width: 45em;
    .team-member-copy {
        line-height: 1.5em;
    }
    @media screen and (max-width: 1360px) {
        max-width: 35em;
    }
    @media screen and (max-width: 1200px) {
        padding: 0 2em;
    }
    @media screen and (max-width: 720px) {
        padding: 1em 0;
    }
}

#team-background-scene {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 0;
}