<div id="team-container">
	<div id="team-scroll-container">
		<div id="team-header">
			<h1 class="really-big-text light-text">Hallo <span class="hot-pink">Team</span></h1>
			<p class="light-text">These are the people who bring technology to life.</p>
		</div>
		<div class="team-member-container space-around align-center row">
			<div class="team-member-column column flex-1">
				<div class="team-member-photo">
					<img class="team-pic" src="./assets/chris_r_prof_crop.png">
				</div>
				<div class="team-member-stats light-text">
					<p class="team-member-name  light-text">
						Chris <span class="aqua">Rojas</span>
					</p>
					<p class="team-member-role stats-text-small light-text">
						Creative Technologist
					</p>
					<p class="team-member-email stats-text-small light-text">
						rojas@hexagonmisfit.com
					</p>

				</div>
			</div>
			<div class="team-member-blurb row flex-2">
				<p class="team-member-copy light-text">Lorem ipsum diabetes consectetur franzia broccolini Japanther. Japandroids NPR indie rock Smashing
					Pumpkins organic free range kombucha. Here is some copy about Chris's resume, including projects
					he has worked on, places he has worked at, and relevant professional skills. Started from the
					bottom now we here. Sta-started from the bottom now my whole team here, started from the bottom
					now we here....
				</p>
			</div>
		</div>
		<div class="team-member-container space-around align-center row">
			<div class="team-member-column column flex-2">
				<div class="team-member-photo">
					<img class="team-pic" src="./assets/quin_kennedy_prof.png">
				</div>
				<div class="team-member-stats light-text">
					<p class="team-member-name">
						Quin <span class="aqua">Kennedy</span>
					</p>
					<p class="team-member-role stats-text-small light-text">
						Digital Artist, VR/MR Developer
					</p>
					<p class="team-member-email stats-text-small light-text">
						quin@hexagonmisfit.com
					</p>
				</div>
			</div>
			<div class="team-member-blurb row flex-1">
				<p class="team-member-copy light-text">Lorem ipsum diabetes consectetur franzia broccolini Japanther. Japandroids NPR indie rock Smashing
					Pumpkins organic free range kombucha. Here is some copy about Alex's resume, including projects
					he has worked on, places he has worked at, and relevant professional skills. Started from the
					bottom now we here. Sta-started from the bottom now my whole team here, started from the bottom
					now we here....
				</p>
			</div>
		</div>
		<div class="team-member-container space-around align-center row">
			<div class="team-member-column column flex-1">
				<div class="team-member-photo">
					<img class="team-pic" src="./assets/d_sierra.png">
				</div>
				<div class="team-member-stats">
					<p class="team-member-name light-text">
						Daniel <span class="aqua">Sierra</span>
					</p>
					<p class="team-member-role stats-text-small light-text">
						Digital Artist
					</p>
					<p class="team-member-email stats-text-small light-text">
						daniel@hexagonmisfit.com
					</p>
				</div>
			</div>
			<div class="team-member-blurb row flex-2">
				<p class="team-member-copy light-text">Lorem ipsum diabetes consectetur franzia broccolini Japanther. Japandroids NPR indie rock Smashing
					Pumpkins organic free range kombucha. Here is some copy about Alex's resume, including projects
					he has worked on, places he has worked at, and relevant professional skills. Started from the
					bottom now we here. Sta-started from the bottom now my whole team here, started from the bottom
					now we here....
				</p>
			</div>
		</div>
		<div class="team-member-container space-around align-center row">
			<div class="team-member-column column flex-2">
				<div class="team-member-photo">
					<img class="team-pic" src="./assets/big_al.jpg">
				</div>
				<div class="team-member-stats">
					<p class="team-member-name light-text">
						Alex <span class="aqua">Erickson</span>
					</p>
					<p class="team-member-role stats-text-small light-text">
						Creative Developer
					</p>
					<p class="team-member-email stats-text-small light-text">
						alex@hexagonmisfit.com
					</p>
				</div>
			</div>
			<div class="team-member-blurb row flex-1">
				<p class="team-member-copy light-text">Lorem ipsum diabetes consectetur franzia broccolini Japanther. Japandroids NPR indie rock Smashing
					Pumpkins organic free range kombucha. Here is some copy about Alex's resume, including projects
					he has worked on, places he has worked at, and relevant professional skills. Started from the
					bottom now we here. Sta-started from the bottom now my whole team here, started from the bottom
					now we here....
				</p>
			</div>
		</div>
	</div>
</div>