<div id="work-container">
    <div class="projects-container">
        {{#each data.projects}}
        <div class="project-img-row row">
            <article class="project-img-container column">
                <a class="project-img-link link" href="/work/{{slug}}">
                    <img src="{{img1.url}}{{img1.file.filename}}"/>
                    <span class="project-name-container light-text">
                        <h2>{{title}}</h2>
                    </span>
                </a>
            </article>
        </div>
        {{/each}}
    </div>    
</div>