
<div id="work-container">
    <div class="projects-container row">
        <div class="project-img-container">
            <img src="/assets/daniel_sierra_project.jpg" width="550"/>
            <a class="project-img-link" href="/projects/mariposa">
                <h2>Minim Music Visualizer</h2>
            </a>
        </div>
        <div class="project-img-container">
            <img src="/assets/daniel_sierra_project.jpg" width="450"/>
            <a class="project-img-link" href="/projects/mariposa">
                <h2>Minim Music Visualizer</h2>
            </a>
        </div>
        <div class="project-img-container">
            <img src="/assets/mariposa_1280x720.jpg" width="600"/>
            <a class="project-img-link" href="/projects/mariposa">
                <h2>Mariposa Chandelier</h2>
            </a>
        </div>
        <div class="project-img-container">
            <img src="/assets/mariposa_1280x720.jpg" width="500"/>
            <a class="project-img-link" href="/projects/mariposa">
                <h2>Mariposa Chandelier</h2>
            </a>
        </div>
    </div>    
</div>