#home-container {
    height: 100vh;
    position: relative;
    overflow: -moz-scrollbars-none;
    overflow-y: scroll;
}

.hero {
    justify-content: center;
    height: 100%;
    border-bottom: 2px solid $near-white;
}

.hero, .home-section {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 8;
    @media screen and (max-height: 812px) {
        height: 100%;
    }
}

.hero-text {
    display: inline-block;
    min-width: 30em;
    @media screen and (max-width: 1024px) {
        width: 100%;
        min-width: 0;
    }
    h1 {
        display: inline-block;
        margin-top: 0;
        @media screen and (max-width: 1024px) {
            line-height: 1em;
        }
    }
}

#work-home {
    background-color: $blue-light;
}

#about-home, #team-home, #contact-home {
    background-color: $near-white;
}

.contact {
    min-height: 100vh;
    padding: 0 10em;
    justify-content: center;
    @media screen and (max-width: 1400px) {
        padding: 0 7em;
    }
    @media screen and (max-width: 900px) {
        padding: 3em;
        justify-content: center;
    }
    @media screen and (max-width: 500px) {
        padding: 1em;
    }
}

.contact-row {
    width: 100%;
    max-width: 60em;
}

.contact-container {
    @media screen and (max-width: 900px) {
        align-items: center;
        padding: 0 2em;
    }
    @media screen and (max-width: 800px) {
        padding: 0;
    }
}

.contact-text-container, .contact-input-container {
    height: 20em;
    background-color: $blue-light;
    justify-content: center;
    h1 {
        margin-top: 0;
    }
    .name {
        margin-top: 0;
    }
    @media screen and (min-width: 901px) {
        padding: 0 2em;
    }
    @media screen and (max-width: 900px) {
        width: 100%;
        padding: 0 1em;
    }
}

.contact-input, .contact-textarea {
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
    color: $near-white;
    background-color: $blue-light;
    border: none;
    border-bottom: solid 2px $near-white;
    &:focus {
        outline: none;
    }
}

.contact-textarea {
    overflow: hidden;
    resize: none;
}

.section-header {
    margin: 0;
}

.section-header-wrapper {
    padding: 2.5em 0;
}

.section-footer {
    padding: 1.5em 0 0 1em;
    align-content: center;
}

#footer {
    background-color: $near-white;
    padding-top: 2em;
    padding-bottom: 2em;
}