#home-container {
    height: 100vh;
    position: absolute;
    overflow: -moz-scrollbars-none;
    overflow-y: scroll;
}

.hero {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding: 0 14em;
    z-index: 10;
    @media screen and (max-width: 1400px) {
        padding: 0 7em;
    }
    @media only screen 
    and (max-width: 767px){
        padding: 2em;
    }
}

.hero-text {
    display: inline-block;
    width: 50%;
    min-width: 30em;
    @media screen and (max-width: 1024px) {
        width: 100%;
        min-width: 0;
    }
    h1 {
        display: inline-block;
        margin-top: 0;
        @media screen and (max-width: 1024px) {
            line-height: 1em;
        }
    }
}

.contact {
    min-height: 100vh;
    padding: 0 10em;
    justify-content: center;
    @media screen and (max-width: 1400px) {
        padding: 0 7em;
    }
    @media screen and (max-width: 900px) {
        padding: 3em;
        justify-content: center;
    }
    @media screen and (max-width: 500px) {
        padding: 1em;
    }
}

.contact-row {
    width: 100%;
    max-width: 60em;
}

.contact-container {
    @media screen and (max-width: 900px) {
        align-items: center;
        padding: 0 2em;
    }
}

.contact-text-container, .contact-input-container {
    height: 20em;
    background-color: $blue-light;
    justify-content: center;
    h1 {
        margin-top: 0;
    }
    .name {
        margin-top: 0;
    }
    @media screen and (min-width: 901px) {
        padding: 0 2em;
    }
    @media screen and (max-width: 900px) {
        width: 100%;
        padding: 0 1em;
    }
}

.contact-input, .contact-textarea {
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
    color: $near-white;
    background-color: $blue-light;
    border: none;
    border-bottom: solid 1px $bright-yellow;
    &:focus {
        outline: none;
    }
}

.contact-textarea {
    overflow: hidden;
    resize: none;
}