.ascend-1, .fade-1, .fade-2, .fade-3 {
    transform: translateY(75px);
    opacity: 0;
    visibility: hidden;
}

body {
    visibility: hidden;
    opacity: 0;
}

#page-wipe {
    height: 100%;
    width: 100%;
    z-index: 500;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}