.work-container {
    height: 100%;
    position: relative;
    display: none;
    opacity: 0;
}

.project {
    height: 100%;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 500px) {
        font-size: 0.8em;
    }
}

.project-panel-container {
    padding-left: 2em;
    @media screen and (max-width: 900px) {
        padding: 0;
    }
}

.project-video-container {
    padding: 0 2em;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $near-black;
}

.project-panel-container, .project-video-container {
    @media screen and (max-width: 900px) {
        height: 100%;
    }
    @media screen and (max-width: 500px) {
        padding: 0;
    }
}

.project-panel-container, .project-video-container, .project-info-container {
    justify-content: center;
    height: 100%;
}

.project-info-container {
    padding: 0 7em;
    @media screen and (max-width: 1400px) {
        padding: 0 4em;
    }
    @media screen and (max-width: 900px) {
        padding: 0;
    }
}

.project-panel {
    z-index: 10;
    background-color: $magenta-dark;
    width: 100%;
    min-height: 30em;
    min-width: 20em;
    opacity: 0.95;
    padding: 2em;
    display: flex;
    justify-content: center;
    border: 2px solid $blue-light;
    h2 {
        margin: 1em 0;
    }
    @media screen and (max-width: 900px) {
        height: 100%;
        padding: 0 2em;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    @media screen and (max-width: 500px) {
        padding: 2em 1em;
        justify-content: flex-start;
    }
}

.project-video {
    background-color: $near-black;
    justify-content: center;
    height: 20em;
    z-index: 5;
}

.project-video-text {
    width: 100%;
    text-align: center;
}

.more-info {
    display: inline-block;
    padding: 1em 1em 1em 0;
    p {
        display: inline-block;
    }
}
