#team-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    overflow: -moz-scrollbars-none;
    padding: 10em;
    background: $dark-gray;
    opacity: 0.95;
    @media screen and (max-width: 1200px) {
        padding: 7em;
    }
    @media screen and (max-width: 900px) {
        align-items: center;
        padding: 7em 3em;
    }
    @media screen and (max-width: 720px) {
        padding: 5em 3em 3em;
    }
}

#team-header {
    justify-content: center;
    text-align: center;
    height: 14em;
    padding: 2em 0 6em 0;
    width: 100%;
    @media screen and (max-width: 1100px) {
        padding: 2em 1em 6em;
    }
    @media screen and (max-width: 900px) {
        padding-left: 0;
    }
    @media screen and (max-width: 720px) {
        padding: 2em 3em 3em;
    }
    @media screen and (max-width: 400px) {
        padding: 2em 0 3em;
    }
}

#team-scroll-container {
    max-width: 60em;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 720px) {
        align-items: center;
    }
}

.team-section {
    width: 100%; 
    justify-content: space-around;
    padding: 5em;
}

.team-member-column {
    max-width: 13em;
}

.team-member-container {
    width: 100%;
    margin-bottom: 6em;
    @media screen and (max-width: 1100px) {
        padding-left: 0;
    }
    @media screen and (max-width: 720px) {
        flex-direction: column !important;
        align-items: flex-start;
        max-width: 25em;
        margin-bottom: 3em;
    }
}

.team-pic-container {
    width: 12em;
    padding: 0 1em;
    justify-content: center;
}

.team-pic {
    height: 10em;
    width: 10em;
    border-radius: 10em;
    border: 1px solid $dark-gray;
    justify-content: center;
    align-items: center;
    border-radius: 5em 5em;
}

.team-member-stats {
    @media screen and (max-width: 720px) {
        margin-bottom: 2em;
    }
}

.team-member-name {
    font-weight: bolder;
    padding: 0.75em 0 0;
}

.stats-text-small {
    font-size: 0.7em;
}

.team-member-blurb {
    padding: 1em;
    max-width: 45em;
    font-size: 0.75em;
    @media screen and (max-width: 1360px) {
        max-width: 35em;
    }
    @media screen and (max-width: 1200px) {
        padding: 0 2em;
    }
    @media screen and (max-width: 720px) {
        padding: 1em 0;
    }
}

#team-background-scene {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 0;
}