$red-bright: #F03A47;
$magenta-dark: #B21252;
$plum-ish: #542344;
$salmon-pink: #EA526F;
$lavendar-ish: #B7C3F3;
$blue-light: #14ACCC;
$blue-dark: #0995B2;
$seafoam-green: #119DA4;
$bright-yellow: #FFE919;

$near-white: rgba(250,250,250,1);
$button-darken: rgba(130,130,130,0.1);
$near-black: #060606;
