$magenta-light: #FF0066;
$magenta-dark: #B21252;
$blue-light: #14ACCC;
$blue-dark: #0995B2;
$bright-yellow: #FFE919;

$near-white: rgba(250,250,250,1);
$button-darken: rgba(130,130,130,0.1);
$near-black: #060606;
