@import 'variables';

#work-container {
    height: calc(100% - 3em);
    width: 100%;
    display: flex;
    padding: 62px 0 0;
    position: relative;
    flex-direction: column;
}

.work-header {
    position: relative;
    z-index: 5;
    justify-content: center;
    align-items: center;
}

.work-header.wide-only {
    height: 7em;
    position: relative;
    width: 100%;
}

.work-header-text.wide-only {
    width: 100%;
    justify-content: flex-start;
}

.work-header.narrow-only {
    padding: 0 1em;
    width: 100%;
    h1 {
        margin: 0;
        width: 100%;
        height: 2.5em;
        align-items: center;
        justify-content: flex-start;
    }
}

.wide-only {
    visibility: visible;
    display: flex;
    @media screen and (orientation: portrait) {
        visibility: hidden;
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.narrow-only {
    visibility: hidden;
    display: none;
    @media screen and (orientation: portrait) {
        visibility: visible;
        display: flex;
    }
}

.work-body {
    z-index: 5;
    align-items: center;
    position: relative;
    background-color: lighten($salmon-pink, 10);
    overflow-y: scroll;
    display: flex;
    height: 100%;
    flex-direction: column;
    @media screen and (orientation: landscape) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.projects-container {
    justify-content: space-around;
    position: relative;
    align-items: center;
    max-width: 1200px;
    @media screen and (orientation: portrait) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    @media screen and (orientation: landscape) {
        height: 100%;
        width: 100%;
        padding: 0 2em;
    }
}

.projects-inner-container {
    max-height: 368px;
    justify-content: flex-start;
}

.projects-img-container {
    order: 2;
    width: 50%;
    max-width: 700px;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0.5em;
    @media screen and (orientation: portrait) {
        order: 1;
        width: 100%;
        padding: 0;
    }
    @media screen and (orientation: landscape) {
        height: 100%;
        justify-content: center;
    }
}

.project-blurb {
    padding: 1em;
    height: 9em;
}

.project-img {
    width: 100%;  
}

.projects-list-container {
    height: 100%;
    width: 50%;
    align-items: flex-start;
    order: 1;
    padding-right: 0.5em;
    justify-content: center;
    @media screen and (orientation: portrait) {
        width: 100%;
        order: 2;
    }
    @media screen and (orientation: landscape) {
        height: 100%;
    }
}

.projects-list {
    list-style-type: none;
    position: relative;
    justify-content: space-between;
    @media screen and (orientation: portrait) {
        width: 100%;
    }
    .project-li {
        min-height: 30px;
        transition: font-size 0.2s ease;
        display: flex;
        align-items: center;
        padding: 0 3px;
        @media screen and (orientation: portrait) {
            padding-left: 1em;
        }
        ::before {
            content: '';
            width: 20px;
            height: 1px;
            left: -25px;
            position: absolute;
            background-color: $near-black;
            @media screen and (orientation: portrait) {
                visibility: hidden;
            }
        }
        span {
            transition: all 0.2s ease;
            position: relative;
            display: flex;
            align-items: center;
            font-weight: bold;
        }
    }

    .project-li.active {
        background-color: $near-black;
        span {
            font-weight: bolder;
        }   
    }
}

.project-stats {
    font-size: 0.75em;
    padding: 1em;
    ul {
        list-style-type: none;
    }
}

.work-background {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.project-background-color-panel {
    z-index: 1;
    width: 70%;
    height: 70%;
    opacity: 0.8;
    position: absolute;
    left: 15%;
    top: 15%;
    bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $salmon-pink;
    @media screen and (max-width: 550px) {
        width: 70%;
    }
}