@import 'variables';

#work-container {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 5em 0;
    @media screen and (max-height: 700px) {
        padding: 4em 0;
        font-size: 75%;
    }
    @media screen and (max-height: 400px) {
        padding: 3em 0 0;
    }
    @media screen and (orientation: portrait) {
        padding: 3em 0 0;
    }
}

.work-header {
    position: relative;
    z-index: 5;
    margin-bottom: 2em;
    align-items: center;
}

.work-header.wide-only {
    height: 7em;
}

.work-header.narrow-only {
    margin: 1em 0;
    height: 5.2em;
}

.wide-only {
    visibility: visible;
    display: flex;
    @media screen and (orientation: portrait) {
        visibility: hidden;
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.narrow-only {
    visibility: hidden;
    display: none;
    @media screen and (orientation: portrait) {
        visibility: visible;
        display: flex;
    }
}

.work-body {
    z-index: 5;
    height: 100%;
    justify-content: center;
    position: relative;
    background-color: $salmon-pink;
    overflow-y: scroll;
}

.work-footer-container, .work-body {
    display: flex;
    padding: 0 19%;
    @media screen and (min-width: 1400px) {
        padding: 0 22%;
    }
    @media screen and (max-width: 1023px) {
        padding: 0 10%;
    }
    @media screen and (orientation: portrait) {
        justify-content: flex-start;
    }
}

.projects-container {
    justify-content: space-around;
    position: relative;
    align-items: center;
    @media screen and (orientation: portrait) {
        flex-direction: column;
    }
    @media screen and (orientation: landscape) {
        height: 100%;
    }
}

.projects-img-container {
    order: 2;
    width: 50%;
    max-width: 700px;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5em;
    min-height: 275px;
    @media screen and (orientation: portrait) {
        order: 1;
        width: 100%;
        padding: 0;
    }
}

.project-blurb {
    padding: 1em;
}

.project-img {
    width: 100%;  
}

.projects-list-container {
    height: 100%;
    width: 50%;
    align-items: flex-start;
    order: 1;
    padding-right: 0.5em;
    justify-content: center;
    @media screen and (orientation: portrait) {
        width: 100%;
        order: 2;
    }
}

.projects-list {
    list-style-type: none;
    position: relative;
    justify-content: space-between;
    @media screen and (orientation: portrait) {
        width: 100%;
    }
    .project-li {
        min-height: 30px;
        transition: font-size 0.2s ease;
        display: flex;
        align-items: center;
        padding: 0 3px;
        ::before {
            content: '';
            width: 20px;
            height: 1px;
            left: -25px;
            position: absolute;
            background-color: $near-black;
        }
        span {
            transition: all 0.2s ease;
            position: relative;
            display: flex;
            align-items: center;
            font-weight: bold;
        }
    }

    .project-li.active {
        background-color: $near-black;
        span {
            font-weight: bolder;
        }   
    }
}

.work-background {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.project-background-color-panel {
    z-index: 1;
    width: 70%;
    height: 70%;
    opacity: 0.8;
    position: absolute;
    left: 15%;
    top: 15%;
    bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $salmon-pink;
    @media screen and (max-width: 550px) {
        width: 70%;
    }
}