@import 'variables', 'normalize', 'home', 'projectSlider', 'teamSlider', 'projects', 'team', 'vr', 'initialState';

html {
    height: 100%;
    width: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 20px;
    background-color: $blue-light;
    @media screen and (max-width: 375px) {
        font-size: 18px;
    }
    @media screen and (max-height: 540px) {
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

html::-webkit-scrollbar { width: 0 !important }

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $near-black;
    font-family: 'Inconsolata', monospace;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
    // touch-action: none;
    position: relative;
    background-color: $blue-dark;
    opacity: 0;
    visibility: hidden;
}

p {
    font-size: 1.2em;
    line-height: 1.3em;
    @media screen and (max-width: 400px) {
        font-size: 1em;
        line-height: 1.1em;
    }
}

.container {
    height: 100%;
    overflow: hidden;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: -moz-scrollbars-none;
}

.hero-padding-responsive {
    padding: 0 10em;
    @media screen and (min-width: 1600px) {
        padding: 0 18%;
    }
    @media screen and (max-width: 1400px) {
        padding: 0 7em;
    }
    @media only screen 
    and (max-width: 768px){
        padding: 0 4em;
    }
    @media screen and (max-width: 600px) {
        padding: 0 3em;
    }
    @media screen and (max-width: 400px) {
        padding: 0 1.75em;
    }
}

#home-container, #team-container, #vr-container {
    z-index: 3;
    width: 100%;
}

#header-canvas {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
}

.navigation {
    width: 100vw;
    z-index: 11;
    padding: 1em 10em;
    background-color: $near-white;
    border-bottom: 1px solid $button-darken;
    position: fixed;
    left: 0;
    top: inherit;
    ul {
        width: 100vw;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    @media screen and (max-width: 1400px) {
        padding: 1em 7em;
    }
    @media screen and (max-width: 1000px) {
        padding: 1em 4em;
    }
    @media screen and (max-width: 900px) {
        padding: 1em;
        ul {
            justify-content: space-around;
        }
    }
    @media screen and (max-width: 767px) {
        padding: 1em;
        ul {
            width: 100vw;
            div {
                justify-content: center;
            }
        }
    }
    @media screen and (max-width: 675px) {
        padding: 1em 5px;
        font-size: 0.7em;
        height: 3em;
        ul {
            justify-content: center;
        }
    }
}

.hero-container {
    height: 100vh;
}

.nav-link {
    padding: 1em 1.5em;
    &:hover {
        cursor: pointer;
        background-color: rgb(240,240,240);
    }
    @media screen and (max-width: 767px) {
        padding: 0.8em;
        margin-right: 0;
    }
}

.nav-link.nav-link-active {
   span {
       color: $magenta-dark;
   }
}

.one-third {
    width: 33%;
    min-width: 22em;
}

.one-half {
    width: 50%;
    min-height: 400px;
}

.two-thirds {
    width: 67%;
}

.justify-center {
    justify-content: center;
}

.one-third, .one-half, .two-thirds {
    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

h3 {
    margin: 0 0 1em;
}

.light-text {
    color: $near-white;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.link {
    font-weight: bold;
    &:focus {
        outline: none;
    }
    &:hover {
        img {
            color: $bright-yellow;
        }
        span {
            color: $bright-yellow;
        }
        cursor: pointer;
    }
}

.background-image-transition {
    z-index: 5;
    position: relative;
    height: 100%;
}

.zazz {
    color: $bright-yellow;
}

.hidden-wide {
    @media screen and (min-width: 901px) {
        display: none;
    }
}

.hidden-narrow {
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.transparent-background {
    background-color: rgba(0,0,0,0);
}

// .nav-transition-text-container {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     left: 0;
//     top: 0;
//     align-items: center;
//     justify-content: center;
//     z-index: 1;
// }

.ultra-big-text {
    font-size: 5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 960px) {
        font-size: 4em;
    }
    @media screen and (max-width: 750px) {
        font-size: 3.5em;
    }
    @media screen and (max-width: 600px) {
        font-size: 2em;
    }
}