@import 'variables', 'normalize', 'home', 'projects', 'team';

html {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 20px;
    background-color: $magenta-light;
    @media screen and (max-width: 375px) {
        font-size: 18px;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

html::-webkit-scrollbar { width: 0 !important }

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $near-black;
    font-family: 'Inconsolata', monospace;
}

body {
    padding: 0;
    margin: 0;
    display: hidden;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
    // touch-action: none;
    position: relative;
    background-color: $magenta-light;
}

.container {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: -moz-scrollbars-none;
}

.fixed-canvas, .mobile-canvas {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.fixed-canvas {
    position: fixed;
    z-index: 1;
}

.mobile-canvas {
    position: absolute;
}

.navigation {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 10em;
    padding: 3em 10em;
    background-color:inherit;
    // opacity: 0;
    ul {
        width: 100vw;
        list-style: none;
        display: flex;
        justify-content: space-between;
        height: 1.5em;
        &:hover {
            cursor: pointer;
        }
    }
    @media screen and (max-width: 1400px) {
        padding: 3em 7em;
    }
    @media screen and (max-width: 900px) {
        ul {
            justify-content: space-around;
        }
    }
    @media screen and (max-width: 767px) {
        padding: 1em;
        height: 5em;
        ul {
            width: 100vw;
            div {
                justify-content: center;
            }
        }
    }
    @media screen and (max-width: 475px) {
        padding: 1em 5px;
        font-size: 0.8em;
        height: 3em;
        ul {
            justify-content: center;
        }
    }
}

.nav-link {
    margin-right: 2em;
    padding: 3px 6px;
    @media screen and (max-width: 767px) {
        padding: 0.8em;
        margin-right: 0;
    }
}

.nav-link.nav-link-active, .nav-link.nav-link-active.nav-link-alt {
    background-color: $near-white;
    color: $magenta-light;
}

.nav-link.nav-link-clicked {
    background-color: $bright-yellow;
}

.nav-link.nav-link-alt {
    color: $near-black;
}

p {
    line-height: 1.4em;
}

.one-third {
    width: 33%;
    min-width: 22em;
}

.one-half {
    width: 50%;
    justify-content: center;
}

.two-thirds {
    width: 67%;
}

.one-third, .one-half, .two-thirds {
    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

h3 {
    margin: 0 0 1em;
}

.light-text {
    color: $near-white;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 900px) {
        flex-direction: column;
        nav.row {
            flex-direction: row;
        }
    }
}

.background-image-transition {
    z-index: 5;
    position: relative;
    height: 100%;
}

.zazz {
    border-bottom: $bright-yellow 1px solid;
}

.hidden-wide {
    @media screen and (min-width: 901px) {
        display: none;
    }
}

.hidden-narrow {
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.transparent-background {
    background-color: rgba(0,0,0,0);
}