
$hot-pink: #fc1c6a;
$aqua: #3ff6ff;
$lime-green: #bcff4f;
$dark-teal: #248886;

$white: rgba(255,255,255,1);
$warm-gray: #766969;
$dark-gray: #2b2b2b;

$varela-round: 'Varela Round', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$open-sans-bold: 'Open Sans Bold', sans-serif;
$open-sans-italic: 'Open Sans Italic', sans-serif;
