#project-container {
	z-index: 2;
	padding: 8em 1em 0;
	width: 100%;
	max-width: 1000px;
	position: relative;
	@media screen and (min-width: 400px) {
		padding: 8em 2em 0;	
	}
}

.project-img {
	width: 95%;
	position: relative;
}

.project-img, .project-p, .project-video {
	z-index: 10;
	position: relative;
	width: 100%;
	margin: 3em 0;
}

.project-p {
	line-height: 2em;
}

.not-found {
	height: 100vh;
}

.embed-wrapper {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	margin: 3em 0;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}